[submodule "lib/indyva"]
	path = lib/indyva
	url = git@bb13.cesvima.upm.es:jmorales/indyva.git
[submodule "memcover/web/js/lib/indyva-js"]
	path = memcover/web/js/lib/indyva-js
	url = git@bb13.cesvima.upm.es:jmorales/indyva-js.git
[submodule "lib/indyva-r"]
	path = lib/indyva-r
	url = git@bb13.cesvima.upm.es:jmorales/indyva-r.git
