#multi-dist-compare-view .panel-heading h3 { 
    display: inline-block;
}
#multi-dist-compare-view .panel-heading button { 
    display: inline-block;
    top: -7px;
    float: right;
    position: relative;
}

#multi-dist-compare-view .stat-chart {
    text-align: center;
}

#multi-dist-compare-view .stat-chart .glyphicon {
    margin-top: 20px;
}