
svg.pcp text {
  font-size: 14px;
}

svg.pcp .foreground path {
  fill: none;
  stroke: rgb(49, 130, 189);
  stroke-opacity: .5;
  stroke-width: 1px;
}

svg.pcp .foreground path.fade {
  stroke: #000;
  stroke-opacity: .05;
}


svg.pcp .axis line, svg.pcp .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

svg.pcp .axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}

svg.pcp .hide {
     display: none;
}

svg.pcp .brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

svg.pcp .dimension {
     font-weight: 600;
}
