.rangeSlider .brush{
    stroke: #aaa;
    shape-rendering: crispEdges;
}
.rangeSlider .brush .extent {
    stroke: #fff;
    fill: #000;
    fill-opacity: .125;
}
.rangeSlider .brush .resize {
    stroke: #aaa;
    fill: #e7e7e7;
}

.rangeSlider .brush .background {
    fill: #f5f5f5;
    stroke: none;
}

svg.rangeSlider .axis path, svg.rangeSlider .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}