
.subsets-bar {
    padding-bottom: 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(66, 139, 202);
}
.subsets-bar > div {
    display: inline-block;
}

.subsets-bar > .h3 {
    margin: 0px 10px 0px 5px;
}

.subsets-bar > div {
    display: inline-block;
}

.subsets-bar div.btn-group {
    float: none;
    margin-left: 0px;
}

.subsets-bar div.tab {
    display: inline-block;
    float: none;
    margin-left: 3px;
}

.subsets-bar div.tab button {
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px 15px;
}
